TZ=utc
NODE_ENV=local
APP_ENV=local
NEXT_PUBLIC_APP_ENV=local
DATABASE_URL="file:.database/local.sqlite"
ADMINISTRATOR_PASSWORD=Pa55w0rd
AUTHENTICATION_JWT_TOKEN_SECRET=authentication-secret
SENTRY_AUTH_TOKEN=
