@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-base03: oklch(27.4% 0.05 219.6);
    --color-base02: oklch(32.1% 0.053 219.6);
    --color-base01: oklch(53.5% 0.029 219.6);
    --color-base00: oklch(54.4% 0.017 219.6);
    --color-base0: oklch(71.8% 0.017 198);
    --color-base1: oklch(71.8% 0.03 198);
    --color-base2: oklch(93.4% 0.031 90);
    --color-base3: oklch(97.7% 0.012 90);
    --color-yellow: oklch(63.1% 0.129 86.4);
    --color-orange: oklch(63.1% 0.166 50.4);
    --color-red: oklch(63.1% 0.221 21.6);
    --color-magenta: oklch(63.1% 0.205 349.2);
    --color-violet: oklch(63.1% 0.121 280.8);
    --color-blue: oklch(63.1% 0.141 244.8);
    --color-cyan: oklch(63.1% 0.102 187.2);
    --color-green: oklch(63.1% 0.148 118.8);

    --color-background-body: var(--color-base03);
    --color-background-menu: var(--color-base2);

    --grid-areas-layout-desktop: "header main" "menu main" "footer main";
    --grid-areas-layout-mobile: "header" "main" "menu" "footer";

    --grid-area-main: main;
    --grid-area-menu: menu;
    --grid-area-header: header;
    --grid-area-footer: footer;
}

@utility layout-* {
    grid-template-areas: --value(--grid-areas-layout-\*);
}

@utility layout-area-* {
    grid-area: --value(--grid-area-\*);
}
