.blogEntryBody {
    display: grid;
    grid-gap: 1rem;

    * {
        text-wrap: pretty;
        border-style: inset;
    }

    p {
        text-indent: 1rem;
    }

    code {
        border: solid 1px var(--color-text-body);
        padding: 0.1rem;
        background-color: var(--color-base02);
    }

    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.7rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    h6[aria-level="7"] {
        font-size: 1.3rem;
    }
    h6[aria-level="8"] {
        font-size: 1.1rem;
    }

    ul {
        text-indent: 0.5rem;
        list-style-type: disc;

        ul,
        ol {
            text-indent: 1.5rem;
        }
        ul {
            list-style-type: circle;
        }
    }
    ol {
        text-indent: 0.5rem;
        list-style-type: decimal;

        ol,
        ul {
            text-indent: 1.5rem;
        }
    }
    li {
        list-style-position: inside;
    }

    pre {
        width: fit-content;
        max-width: 90%;
        border: solid 1px var(--color-text-body);
        padding: 1rem;
        background-color: var(--color-base02);

        code {
            border: unset;
        }
    }
}
