.blog-entry-body {
    display: grid;
    grid-gap: 1rem;

    * {
        text-wrap: pretty;
        border-style: inset;
    }

    > * {
        max-width: 100%;
    }

    p {
        text-indent: 1rem;
    }

    a {
        text-decoration: underline;
    }

    pre {
        width: fit-content;
        max-width: 90%;
        font-family: var(--font-mono), monospace;
        border: solid 1px var(--color-text-body);
        padding: 1rem;
        background-color: var(--color-base02);

        code {
            border: unset;
        }
    }

    code {
        border: solid 1px var(--color-text-body);
        padding: 0.1rem;
        background-color: var(--color-base02);
    }

    h3,
    h4,
    h5,
    h6 {
        font-weight: 100;
        width: 100%;
        border-bottom: solid 1px var(--color-text-body);
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 2rem;
        --offset: 1rem;
        margin-left: var(--offset);
        max-width: calc(100% - var(--offset));
    }

    h5 {
        font-size: 1.7rem;
        --offset: 1.5rem;
        margin-left: var(--offset);
        max-width: calc(100% - var(--offset));
    }

    h6 {
        font-size: 1.5rem;
        --offset: 2rem;
        margin-left: var(--offset);
        max-width: calc(100% - var(--offset));
    }

    h6[aria-level="7"] {
        font-size: 1.3rem;
        --offset: 2.5rem;
        margin-left: var(--offset);
        max-width: calc(100% - var(--offset));
    }

    h6[aria-level="8"] {
        font-size: 1.1rem;
        --offset: 3rem;
        margin-left: var(--offset);
        max-width: calc(100% - var(--offset));
    }

    ul {
        text-indent: 0.5rem;
        list-style-type: disc;

        ul,
        ol {
            text-indent: 1.5rem;
        }

        ul {
            list-style-type: circle;
        }
    }

    ol {
        text-indent: 0.5rem;
        list-style-type: decimal;

        ol,
        ul {
            text-indent: 1.5rem;
        }
    }

    li {
        list-style-position: inside;
    }

    img {
        padding: 0.5rem;
        border: solid 1px var(--color-text-body);
        max-width: 100%;
    }

    table {
        width: fit-content;

        td,
        th {
            padding: 0.3rem;
            border: solid 1px var(--color-text-body);
            text-wrap: pretty;
        }
    }

    blockquote {
        border-left: solid 5px var(--color-text-body);
        padding: 0.5rem;
        border-radius: 2px;
    }

    dl {
        display: grid;
        width: fit-content;
        grid-template-columns: fit-content(30%) 1rem 1.5fr;

        > dt {
            grid-column: 1;
            font-weight: 700;
        }

        > dd {
            grid-column: 3;
        }
    }
}
