{{#if isClientComponent}} "use client"; {{/if}}

import {FC} from "react"

type {{{PascalFunctionComponentName}}}Props = {}

export const {{{PascalFunctionComponentName}}}: FC<{{{PascalFunctionComponentName}}}Props> = ({}) => {
return (
<div>

</div>);
};
